[

 {sasl, [
    {sasl_error_logger, {file, "sasl_err.log"}}
 ]},

 {evo, [
    {sites, [
        [{name, sandbox},
         {port, 8081},
         {couchdb, {"192.168.1.5", 5984}},

         {always, [
            {module, {evosession, []}}
         ]},
   
         {components, [
            {"static", {module, {evostatic, ["static"]}}},
            {"session", {module, {evosession, []}}}
         ]},

         {templates, [
            {site, {"text/html", reload, "templates/auto/site.html"}}
         ]}
        ]
    ]}
 ]}

].