[

 {sasl, [
    {sasl_error_logger, {file, "err.log"}}
 ]},

 {evo, [
    {sites, [{routecomplete, [
                {port, 8081},
                {dbinfo, {"routecomplete_dev", "routecomplete", "secret"}},
                {components, [{"static", {evostatic, ["static"]}}]},
                {templates, [{"admin", "templates/admin.html"}]}]},
             {rimowa, [
                {port, 8082},
                {dbinfo, {"rimowa", "brendonh", "arthur"}}]}]}
 ]}

].