[

 {sasl, [
    {sasl_error_logger, {file, "sasl_err.log"}}
 ]},

 {evo, [
    {sites, [
        [{name, sandbox},
         {port, 8081},
         {couchdb, {"192.168.1.5", 5984}},

         {default, "/home"},

         {always, [
            {evosession, []}
         ]},
   
         {components, [
            {"home", {evodefault, ["default/index.html", "Welcome to Evo"]}},
            {"static", {evostatic, ["static"]}},
            {"session", {evosession, []}},
            {"nav", {evonav, []}}
         ]},

         {templates, [
            {site, {"text/html", reload, "templates/auto/site.html"}}
         ]}
        ]
    ]}
 ]}

].