<form method="post" action="/session" enctype="multipart/form-data">

<table>
  
  <tr e:render="ifdata" e:key="error">
    <td colspan="2" style="color: red"><e:slot key="error" /></td>
  </tr>

  <tr>
    <td align="right">Username: </td>
    <td><input type="text" name="username" size="15" /></td>
  </tr>
  
  <tr>
    <td align="right">Password: </td>
    <td><input type="password" name="password" size="15" /></td>
  </tr>

  <tr>
    <td />
    <td>
      <input type="submit" value="Log In" />
    </td>
  </tr>

</table>

</form>