<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Evo Browser</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.png"></link>
    <link rel="stylesheet" href="/static/reset.css" type="text/css"></link>
    <link rel="stylesheet" href="/static/site.css" type="text/css"></link>
    <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/evo.js"></script>

  </head>
  <body>
    <div id="main">

      <div id="session" class="component" evo:url="/session"></div>

      <div class="mainTitle"><a href="/"><img src="/static/images/logo.png" /></a></div>

      <div id="nav" class="component" evo:url="/nav"></div>

      <div class="subTitle"><e:slot key="title" /></div>
      <div class="content"><e:slot key="content" /></div>
    </div>
  </body>
</html>