#main {
  width: 960px;
  margin: 10px auto 10px auto;
  padding: 10px;
  border: 1px dotted black;
  font-family: Sans;
}

.mainTitle {
  font-size: 1.5em;
}


a { text-decoration: none; }
a:hover { text-decoration: underline; }


#nav {
 float: right;
}

#nav h1 {
 color: #ff7800;
}

#nav a {
 color: #d41e00;
}

.subTitle {
  margin-left: 20px;
  font-size: 1.2em;
}

.tableList {
  width: 250px;
  border: 1px dotted #ccc;
  border-bottom: 0;
  padding: 0;
  margin-left: 20px;
} 

.tableScroll {
  width: 920px;
  margin: 20px;
  overflow-x: auto;
}

.dbTable  {
  border-collapse: collapse;
}

.dbTable td, .dbTable th {
  padding: 5px;
  border-left: 1px dotted black;
}

.dbTable td.first, .dbTable th.first {
  border-left: 0;
}

.dbTable th {
  background-color: #ddf;
  border-bottom: 1px solid black;
}

li {
  list-style-type: none;
  border-bottom: 1px dotted #ccc;  
  padding: 3px;
}

.tableList li.odd, .dbTable tr.odd {
  background-color: #eef;
}

.tableList a {
  text-decoration: none;
}

.tableList a:hover {
  text-decoration: underline;
}

.null {
  color: #f00;
}

.number {
  color: #00f;
  text-align: right;
}

.pageLinks {
  color: #999;
  margin-left: 20px;
  font-size: 0.8em;
}

.pageLinks a, .pageLinks a:visited {
  text-decoration: none;
  color: blue;
}

.pageLinks a:hover {
  text-decoration: underline;
}